worker_processes 10;
events {
    worker_connections  1024;
}

http {
    upstream backend_hosts {
        {{range ls "backends/"}}
        server {{.Key}}:8080;{{ end }}
    }

    server {
        listen 80;

        location / {
            proxy_pass http://backend_hosts;
        }
    }
}
